<div class="product-cart" *ngIf="isCartShow">
  <ul>
    <li *ngFor="let item of mySharedService.cartItems">
      <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
      {{item.name}}
      <span>{{item.price  | currency:'INR'}}</span>
      <span style="margin-left: 2px;">QTY: {{item.qty}}</span>
      <button type="button" class="close" aria-label="Remove Item" (click)="removeItemFromCart(item.id)">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
  </ul>
  <div class="cart-total">
    <p><button type="button" class="btn btn-outline-primary btn-sm" (click)="emptyCart()">Empty Cart</button></p>
    <p class="text-right">
      <strong class="d-block">Total:</strong>
      <span class="d-block">{{mySharedService.getTotalPrice() | currency:'INR'}}</span>
    </p>
  </div>
</div>
